{% extends "transactions/header.html" %}
{% load static %}

    {% block content %}

    {% if messages %}
        {% for message in messages %}
            <div style="
                margin:10px;
                padding:10px;
                border-radius:6px;
                background:#f0f0f0;">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <main>
        <div class="headline">
            <div class="mng-cn">
            <h2>Manage</h2>
            <p>Manage Your Account Setting And Category </p>
        </div>
        <div class="line"></div>
        <div class="mng-content">
        <div class="incm-ctgr">
            <div class="img">
                <img src="{% static 'img/income.svg' %}" alt="income img" height="35px" width="35px">
            </div>
            <div class="h2">
                <h2>Income Categories</h2>
                <p>Sorted by Name</p>
            </div>
           
        </div>
        <div class="incm">

            {% for cat in income_categories %}

                <div class="incm-boxes">

                    <div class="emoji">💰</div>

                    <div class="label">
                        {{ cat.name }}
                    </div>

                    <a href="{% url 'delete_category' cat.id %}">
                        <button class="remove all">
                            🗑️ Remove
                        </button>
                    </a>

                </div>

            {% empty %}
            <p>No Income Categories Found</p>
            {% endfor %}
        </div>
        </div>
         <div class="line"></div>
          <div class="incm-ctgr">
            <div class="img">
                <img src="{% static 'img/expense.svg' %}" alt="income img" height="35px" width="35px">
            </div>
            <div class="h2">
                <h2>Expense Categories</h2>
                <p>Sorted by Name</p>
            </div>
            
        </div>
        <div class="expense">

        {% for cat in expense_categories %}

            <div class="expense-boxes">

                <div class="emoji">💸</div>

                <div class="label">
                    {{ cat.name }}
                </div>

                <a href="{% url 'delete_category' cat.id %}">
                    <button class="remove all">
                        🗑️ Remove
                    </button>
                </a>

            </div>

            {% empty %}
            <p>No Expense Categories Found</p>
            {% endfor %}
        </div>
    </div>
</div>
</main>
    {% endblock content %}  
