* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ------ LOGIN -------- */

html,
body {
    overflow: hidden;
    /* Prevent both scrollbars */
    /* background-color: #dedede; */
     /* background: linear-gradient(to right, #f0f0f0, #e0e0e0); */
     background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.login-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-content {
    background-color: #E8E3E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 4px 3px 2rem #4a4a4a;
    padding: 2rem;
    min-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.login-content:hover {
    transform: scale(1.1);
    box-shadow: 4px 3px 2rem #2a2a2a;
}


.login {
    width: 100%;
    text-align: center;

}

.log {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.form-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



.form-login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 70%;
}

.email-id,
.password {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.email-txt,
.password-txt {

    font-weight: bold;
}

.email-input,
.password-input {
    border-radius: 4px;
    border: none;
    padding: 0.4rem;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    height: 2.15rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #1d1d1d;
}

.redirect-login {
    display: flex;
    align-items: center;
    margin-top: 1rem;

}

.create-acc {
    margin-right: 6rem;
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
}

.forgot-pass {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
}

.create-acc:hover,
.forgot-pass:hover {
    color: #333;
}


/* ----------Register--------------- */

.signup-container { 
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.signup-content {
    background-color: #E8E3E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 4px 3px 2rem #4a4a4a;
    padding: 1rem 2rem;
    min-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.signup-content:hover {
    transform: scale(1.1);
    box-shadow: 4px 3px 2rem #2a2a2a;
}

.signup {
    width: 100%;
    text-align: center;
}

.signup-txt {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.reg-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem;

}

.s_name,
.s_login-email,
.s_login-pswrd,
.s_cnfrm-pswrd {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 0.75rem;
}

.txt {
    margin-bottom: 0.4rem;
    font-weight: bold;
}

#name,
#email,
#password,
#cnfrm-password {
    border-radius: 4px;
    border: none;
    padding: 0.4rem;
    width: 100%;
}

.s_submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_btn {
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    height: 2.15rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 1rem 0;
}

.signup_btn:hover {
    background-color: #1d1d1d;
}

.logo {
     background-color: #f6f6f6;
    display: flex;
    padding: 10px 10px 10px 50px;
    align-items: center;
    
}

.head-name {
    margin-left: 5px;
    font-size: 30px;
}


/* -------------HOME---------------------- */

/* -------------Home-header-------------------- */

.head-name {
    margin-left: 5px;
    font-size: 30px;
}

.h_container {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    /* adjust as needed */
    background-color: #ffffff;
}
.logoo{
    display: flex;
    padding: 10px 10px 10px 6rem; ;
}

.navigate {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    display: flex;
    list-style: none;
    padding: 10px 20px;
    gap: 40px;
}

nav ul li {
    margin-right: 30px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.acc {
    display: flex;
    align-items: center;
    position: absolute;
    left: 94%;

}

.acc-img {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 15px;
}


/* ---------------Greet-Section---------------*/

.greet{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 1.5rem;
    background-color: #E9E9E9;
}

.greet_text{
    font-weight: bold;
    font-size: 2.2rem;
    margin-left:1.5rem;
}

.inc-exp-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2.5rem;
    margin-right: 4rem;
}

.income-btn ,
.expense-btn {
    padding: 0.7rem;
    width: 10rem;
    border-radius: 10px;
    border: 1px solid rgb(159, 159, 159);
    font-weight: bold;
    color: white;
    cursor: pointer;
    
}

.income-btn{
    background-color: rgb(0, 219, 0);
}
.expense-btn{
    background-color: rgb(225, 0, 0);
}


/* ---------------OVERVIEW-SECTION------------------ */

.select{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.over-text{
    font-weight: bold;
    font-size: 1.7rem;
    margin-left: 1.5rem;
}

.date-select   
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.date-select input{
    display: flex;
    margin-right: 2.5rem;
}

.date-select label{
    margin-right: 0.5rem;
    font-size: 15px;
    font-weight: 700;
}


/* -------------DETAIL-SECTION-------------*/

.detail{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 6rem;
   

}

.boxes{
    display: flex;
    background-color: #E9E9E9;
    border: 1px solid #c6c6c6;
    margin-right: 1rem;
    padding: 0.3rem 1rem;
    width: 25%;
    border-radius: 1rem;
}

.boxes img{
    display: flex;
    align-items: center;
    justify-content: center;
    width:2.3rem;
    height: 2.8rem;
    background-color: #ffffff;
    border-radius: 7px;
    margin-right: 0.5rem;
}

.box-txt{
    font-size: 0.95rem;
}

.amt-inc , 
.amt-exp,
.amt-bal{
    font-size: 1.35rem;
}
